.button {
    background-color: #b3d9e3;
    margin-left: 5%;
    height: 60px;
    font-weight: normal;
    width: 250px;
}

.menuBtns {
    display: flex;
    margin-top: 8%;
}

@media (max-width: 1000px) {
    .button {
        width: 200px;
    }

    .menuBtns {
        flex-direction: column;
        grid-gap: 1rem;
    }
}


