.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 0.9rem;
}

.boxContainer {
    display: flex;
    justify-content: center;
    width: 100%;

}

.boxBasic {
    background-image: url("../assets/clouds.png");
    display: flex;
    width: 12rem;
    height: 18rem;
    border: 3px solid #ccc;
    padding: 2rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.boxAdvanced {
    background-image: url("../assets/Water_clear water.png");
    display: flex;
    width: 12rem;
    height: 18rem;
    border: 3px solid #ccc;
    padding: 2rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    background-color: #b3d9e3;
    background-size: cover;
}
.boxDiamond {
    background-image: url("../assets/diamond3.png");
    display: flex;
    width: 12rem;
    height: 18rem;
    border: 3px solid #ccc;
    padding: 2rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    background-color: #b3d9e3;
    background-size: cover;
}
.boxWindow {
    background-image: url("../assets/www.png");
    display: flex;
    width: 12rem;
    height: 18rem;
    border: 3px solid #ccc;
    padding: 2rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    background-color: #b3d9e3;
    background-size: cover;
}
.boxContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.buttonTextContainer {

    width: 100%;
}


.buttonText {
    font-size: 0.9rem;
    color: #000000;
}

.showInfo {
    border: 1px solid black;
    align-items: center;
    box-shadow: 0 0 10px #000000;
}

.bigDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.btn {
    display: flex;
    justify-content: center;
    border-radius: 7px;
    height: 250px;
}

@media (max-width: 1500px) {
    .box {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        margin: 0 auto;
        height: 15rem;
    }
    .buttonText {
        font-size: 0.6rem;
    }
    .showInfo {
    }
   
    
}

@media (max-width: 1000px) {
    .boxBasic, .boxAdvanced, .boxDiamond, .boxWindow {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        margin: 0 auto;
        width: 9rem;
        height: 13.5rem;
    }
    .buttonText {
        font-size: 0.5rem;
    }
    .showInfo {
    }
    .btn {
        font-size: 1rem;
    }
    .buttonTextContainer {
        font-family: Montserrat, serif;
        width: 100%;
    }
}

@media (max-width: 650px) {
    .boxBasic, .boxAdvanced, .boxDiamond, .boxWindow {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        margin: 0 auto;

        width: 6rem;
        height: 9rem;
    }
    .buttonText {
        font-size: 0.5rem;
    }
    .showInfo {
    }
    .btn {
        font-size: 0.8rem;
    }

}

@media (max-width: 450px) {
    .boxBasic, .boxAdvanced, .boxDiamond, .boxWindow {
        background: #00f0f000;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        margin: 0 auto;
        border: 0;
        width: 9rem;
        height: 13.5rem;
    }
    .buttonText {
        font-size: 0.5rem;
    }
    .showInfo {
    }
    .btn {
        font-size: 1rem;
    }
    .boxContainer {
        margin-top: 5rem;
        background-image: url("../assets/water_mobile_view_bg.png");

        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 20rem;
    }
    .bookingBody {

        background: #ffffff;

    }
}

