
.cont {
    margin-top: -8rem;
    padding: 0.5rem;
    margin-left: 25rem;
}
.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.timeSection {
    flex: 1;
    margin: 10px;
    padding: 1px;
    text-align: right;
}
.ptext {
    align-self: center;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

@media (max-width: 1400px) {
    .cont {
        margin-left: 0;
    }
    .row {
        justify-content: left;
        text-align: left;
    }
    .timeSection {
        text-align: left;
    }
    .ptext {
        align-self: flex-start;
    }
}
