.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: black;
}

.sectionTitle {
    font-weight: bold;
    font-size: 2.3rem;
    margin-top: -7%;
    margin-bottom: -2rem;
    padding-left: 4%;
    text-decoration: underline;
}
.sectionUserData {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 17%;
    height: 80%;
}

@media (max-width: 1400px) {
    .hidewelcome {
        display: none;
    }
    .dashboard {
        margin-top: 3rem;
        justify-content: center;
    }
    .sectionTitle {
        margin-top: -10%;
    }
}

@media (max-width: 800px) {
    .sectionTitle {
        text-align: center;
    }
    .sectionUserData{
        justify-content: center;
        width: 73%;
        font-size: 0.7rem;
    }
}

