.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: black;
}

@media (max-width: 1400px) {
    .hidewelcome {
        display: none;
    }
    .dashboard {
        margin-top: 3rem;
    }
}
