.btn {
    background-color: #b3d9e3;
    margin-left: 1%;
    width: 200px;
    height: 60px;
    font-weight: normal;
}

.headerContainer {
    background-color: #E2FFF8;
    border-bottom: 5px solid #729ca8;
    display: flex;
    position: relative;
    padding: 20px;
    /*justify-content: center;*/
    align-items: center;
    flex-wrap: wrap;
}

/* styles.css */
.hamburger-text {
    display: none;
}

.navbar {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* hamburger-menu.css */
.hamburger-menu {
    position: relative;
    display: none;
}

.menu-toggle {
    display: block;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 2.5rem;
    right: 0.5rem;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
}

.menu {
    list-style: none;
    padding: 0px;
    margin: 0;
    position: absolute;
    top: 5rem;
    right: 10px;
    background-color: #b3d9e3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    height: 8rem;
    width: 7rem;
    text-align: center;
}
.menu li {
    margin-top: 0.13rem;
    font-size: 16px;
}

.menu.open {
    display: block;
}


@media (max-width: 1000px) {

    .header {
        display: none;
    }
    .headerMenu {
        display: none;
    }
    .hamburger-text {
        display: block;
        align-items: center;
        justify-content: center;
    }
    .navbar {
        display: none;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 1450px) {
    .btn {
        width: 112px;
        height: 60px;
        font-weight: normal;
        font-size: 0.8rem;
    }
}
