#root {
  margin: 0;
  padding: 0;
}

.container {
  background-color: #E2FFF8;
  height: 100vh;
  width: 100vw;
}

.bookingContainer {
  background-color: #E2FFF8;
}

.customerContainer {
  background-color: #E2FFF8;
}

.overviewContainer {
  background-color: #E2FFF8;
}

.loginContainer {
  background-color: #E2FFF8;
}

.transactionContainer {
  background-color: #E2FFF8;
}

.headerContainer {
  height: 13vh;
  width: 100vw;
  background-color: #E2FFF8;
  border-bottom: 5px solid #52af66;
  display: flex;
  padding: 20px;
}

#logo3 {
  width: 320px;
  height: 180px;
}

.menuButtons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 50px;
  margin-left: 45%;
  color: #000001;
}

#Booking, #Employees, #Customers, #GDPR, #SignOut{
  background-color: #53b067;
  margin-left: 5%;
  width: 180px;
  height: 60px;
  font-size: 1.2rem;
  font-weight: normal;
}

#SignOut {
  /*margin-left: 72%;*/
}

@media screen and (max-height: 800px){

}
